/* Rem and em do not depend upon html font size in media queries and sometimes 
rem creates problem in media queries so we use em instead of rem

1rem === 1em === 16px*/

/* **************** 
  1344/16 === 84em (dsktop version)
/* ************** */

@media (max-width: 84em){
  .hero{
  max-width: 120rem;
  }
}

/* **************** 
  1200/16 === 75em (dsktop version)
  below 1200px
/* ************** */

@media (max-width: 75em){
  html{
    /* 9px/16px === 0.56 */
    font-size: 56% ;
  }
  
.heading-primary{
  font-size: 4.8rem;
}
.heading-secondary{
  font-size: 3.6rem;
  
}
.heading-tertiary{
  font-size: 2.6rem;
}
.main-header{
padding:0 3.2rem;
}
.grid{
  gap: 6.4rem;
}
}
/* **************** 
  844/16 === 55em (tablet version)
  below 844px
/* ************** */

@media (max-width: 55em){
  html{
    /* 8px/16px === 0.50 */
    font-size: 50% ;
  }
  .hero{
    
    grid-template-columns:1fr;
    gap: 6.4rem;

  }
  .hero-img{
    width: 60%;
  }
  .hero-text{
    text-align: center;
    padding: 0 6.4rem;
  }
  .hero-img-box{
    text-align: center;
  }
  .delivered{
    justify-content: center;
  }
  .featured-logos img {
    width: 12%;
  }
  .testimonial-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .gallery{
    grid-template-columns: repeat(6, 1fr);
    padding: 0 2.4rem;
  }
  .grid-cta{
    grid-template-columns: 60% 40%;
}
.footer{
  padding: 0 3.2 0 4.2rem;
}
.mobile-nav-btn{
  display: block;
}
.main-nav{
  background-color: #ffffffef;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all 1s ease-in;
  


  /* display none will not let use any
  transitions so we use opacity */
  opacity: 0;

  /* to hide it from screen readers */
  visibility: hidden;

  /* to avoid mouse and keyboards events */
  pointer-events: none;
}
.main-nav-list{
  flex-direction: column;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited{
  font-size: 2.4rem;
}
.nav-open .main-nav{
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0);
  transition: none;

}
.nav-open .mobile-nav-icon[name="close-outline"]{
  display: block;
}
.nav-open .mobile-nav-icon[name="grid-outline"]{
  display: none;
}

}
/* **************** 
  600/16 === 38em (tablet version)
  below 600px
/* ************** */

@media (max-width: 38em){
  html{
    /* 7px/16px === 0.43 */
    font-size: 43% ;
  }
  .hero-img{
    width: 60%;
  }
  .grid-cta{
  
    grid-template-columns: 50% 50%;
}
.cta-form{

  grid-template-columns:  1fr;
}
.grid--3--cols,
.grid--4--cols{
  grid-template-columns: repeat(2, 1fr);
}
.diets{
  grid-column: 1/-1;
  justify-self: center;
}
.grid-5-cols{
grid-template-columns: repeat(3, 1fr);
}
.footer-panel{
  grid-row: 1;
  grid-column: span 2;
}
.footer {
  display: grid;
  grid-template-columns: repeat(6,1fr);

}
.address-col,
.logo{
  grid-column: span 3;
}
}
/* **************** 
  400/16 === 25em (tablet version)
  below 400px
/* ************** */

@media (max-width: 25em){
  html{
    /* 7px/16px === 0.43 */
    font-size: 43%;
  }
.hero{
  padding: 0 2.4rem;
}
.hero-img{
  width: 70%;
}
.hero-description{
  margin-bottom: 1rem;
}
.delivered{
  margin-top: 2.4rem;
}
.marg-bot{
  margin-bottom: 1.8rem;
}
.grid--2--cols{
  grid-template-columns: 1fr;
}
.mob-grid-5{
  grid-row: 5;
}
.mob-grid-1{
  grid-row: 1;
}
.section-how{
  padding:  4.2rem 0rem ;
}
.gallery{
  grid-template-columns: repeat(4, 1fr);
  gap:1rem; 
}
.start{
  justify-self: center;
}
.last{
  justify-self: center;
}
.featured-description-taxes{
  text-align: center;
  padding: 0 2rem;
}
.grid-cta{
  grid-template-columns: 1fr;
}
.cta-img{
  grid-row: 1;
  height: 36rem;
}
}
